<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a98c5933-3b36-4ff3-a3e5-376aac1c327f" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a98c5933-3b36-4ff3-a3e5-376aac1c327ffileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
