<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fe6a31cc-85ef-4f41-8169-34c08cfb8318" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="fe6a31cc-85ef-4f41-8169-34c08cfb8318fileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
</con:interface>
